In [1]:
freq_dict = {'15-min':'15T',
            '1-hour':'1H',
            '2-hour':'2H',
            '4-hour':'4H',
            '6-hour':'6H',
            '8-hour':'8H',
            '12-hour':'12H',
            '1-day':'1D',
            '2-day':'2D',
            '7-day':'7D',
            '15-day':'15D',
            '1-month':'1M'}

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from copy import deepcopy

In [4]:
metadata_df = pd.read_csv("../metadata/metadata.csv",index_col=0)

In [19]:
city = 'Austin'

In [20]:
st = pd.HDFStore(os.path.expanduser("/Users/xox/monthly-12-17.h5"), mode='r')

In [21]:
freq='1M'

In [22]:
city_data = metadata_df[metadata_df['city'] == city]
city_homes = city_data.index.values.astype('int')

In [23]:
len(city_homes)

902

In [51]:
homes = {}
count = 0
for freq in ['1M']:
    print(freq)
    freq_num = int(freq[:-1])
    out = []
    homes[freq] = []
    city_data = metadata_df[metadata_df['city'] == city]
    city_homes = city_data.index.values.astype('int')
    for home in city_homes:
#         print(home)
        try: 
            data_df = st['/%d' %home]
            count += 1
            homes[home] = data_df.resample(freq).mean()
        except Exception as e:
            continue

1M

In [69]:
home_ids = homes.keys()

In [119]:
home_readings = {}
for year in range(2012, 2018):
    home_readings[year] = {}
for hid in home_ids:
    for year in range(2012, 2018):
        try:
            year_readings = homes[hid][str(year)]
            if len(year_readings) < 12:
                continue
            for m in range(12):
                old_index = year_readings.index[m]
                new_index = str(old_index)[:7]
                year_readings = year_readings.rename(index={old_index:new_index})
                home_readings[year][hid] = year_readings
                
        except:
            continue

In [141]:
# with all observed aggregate readings
all_aggregate = {}
for year in range(2013, 2018):
    all_aggregate[year] = {}
    for hid in home_readings[year].keys():
        try:
            if home_readings[year][hid]['use'].isnull().sum() == 0:
                all_aggregate[year][hid] = home_readings[year][hid]
        except Exception as e:
            continue
for year in range(2013, 2018):
    print(year, len(all_aggregate[year].keys()))

2013 160
2014 322
2015 307
2016 260
2017 197

In [142]:
year = 2013

In [152]:
app_nan = all_aggregate[year][9121].isnull().sum()
print(app_nan)

use        0
air1       0
drye1     12
range1     0
dtype: int64

In [159]:
app_count = {}
for year in range(2013, 2018):
    app_count[year] = {}
    for hid in all_aggregate[year].keys():
        app_nan = all_aggregate[year][hid].isnull().sum()
        for app in app_nan.keys():
            if app_nan[app] == 0:
                if app in app_count[year]:
                    app_count[year][app] += 1
                else:
                    app_count[year][app] = 1

In [167]:
df = pd.DataFrame(app_count)

In [220]:
candidate_app = df[(df > 30).all(1)].index.tolist()

In [277]:
candidate_app = ['air1', 'clotheswasher1', 'dishwasher1', 'microwave1', 'refrigerator1', 'use']

In [278]:
c = 0
overall = 0
cand = {}
for year in range(2013, 2018):
    cand[year] = {}
    for hid in all_aggregate[year].keys():
        if all_aggregate[year][hid].isnull().sum()[candidate_app].sum() == 0:
#             print(year, hid)
            df = pd.DataFrame(all_aggregate[year][hid])
            candidate = df.iloc[:, df.columns.isin(candidate_app)]
            if len(candidate.columns) == len(candidate_app):
                cand[year][hid] = candidate
    print(year, len(cand[year].keys()))
    overall += len(cand[year].keys())
print('overall', overall)

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/pandas/core/series.py:705: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

2013 24
2014 61
2015 104
2016 86
2017 53
overall 328

In [282]:
selected_years = [2013, 2014]
selected_appliance = ['air1', 'microwave1', 'oven1']
all_observed = False

In [283]:
data = {}
for year in selected_years:
    data[year] = {}
    for hid in all_aggregate[year].keys():
        df = pd.DataFrame(all_aggregate[year][hid])
        if all_observed:
            print(all_observed)
        else:
            candidate = df.iloc[:, df.columns.isin(selected_appliance)]
            if len(candidate.columns) == len(candidate_app):
                cand[year][hid] = candidate

In [287]:
df

,use,air1,bedroom1,clotheswasher1,dishwasher1,drye1,furnace1,microwave1,range1,refrigerator1
localhour,,,,,,,,,,
2014-01,578.961792,0.727431,120.482986,332.501038,32.777431,45.172569,61.257984,8.586458,12.054861,58.231251
2014-02,624.258789,0.590055,116.672325,347.790161,45.616741,49.537525,47.663567,8.805456,14.095163,66.423164
2014-03,572.549561,5.454537,112.063683,326.954193,29.311478,66.477295,33.681065,7.288342,11.917745,67.771629
2014-04,657.682251,102.043266,104.243332,265.819611,32.133610,34.312916,32.158844,7.589398,14.141088,73.204933
2014-05,759.275696,190.377686,104.944649,2.668638,28.470833,27.504951,50.540524,6.912388,10.002934,74.273048
2014-06,867.798096,329.175079,119.049980,2.615856,28.047638,26.413889,76.012688,7.975741,2.089815,74.207016
2014-07,1048.852783,432.430786,134.182236,2.875695,31.691309,29.186380,96.422539,10.758803,4.172782,75.811806
2014-08,1326.088257,573.468018,162.521790,4.373768,35.925247,36.944466,128.270813,9.922916,6.547715,80.698990
2014-09,928.606567,310.252533,122.940926,3.134954,29.588449,22.052870,79.584793,8.925232,11.348958,80.494743
2014-10,699.310547,145.977493,164.671188,2.407437,23.758379,21.084251,40.405579,7.247245,1.499373,70.458199
2014-11,706.060425,6.893268,179.674164,3.008565,41.327553,26.196007,35.605152,8.620822,9.539415,73.480385
2014-12,740.359375,5.596617,157.072968,3.940883,42.638306,42.294289,38.413666,8.324418,22.528740,80.760750