In [1]:
import pandas as pd
import glob
import os
import warnings
warnings.filterwarnings("ignore")


FILE_PATH = os.path.expanduser("~/git/dataport/metadata/electricity_egauge_hours/")
METADATA_PATH = os.path.expanduser("~/git/dataport/metadata/metadata.csv")
# HDF_PATH = os.path.expanduser("~/monthly-12-17.h5")

In [2]:
survey_path_13 = "../metadata/survey_2013_all_participants.csv"
survey_path_14 = "../metadata/survey_2014_all_participants.csv"

In [18]:
df_13 = pd.read_csv(survey_path_13)
df_14 = pd.read_csv(survey_path_14)

In [4]:
columns = ['dataid', 'year_house_constructed', 'house_num_rooms', 'house_square_feet', 'house_ceiling_height', 
           'ethnicity_asian_pacific_islander', 'ethnicity_black_african_american', 'ethnicity_caucasian_other_than_hispanic_or_latino',
          'ethnicity_hispanic_or_latino', 'ethnicity_native_american_alaska_native', 'ethnicity_other', 'ethnicity_decline',
          'sex_males', 'sex_females', 'residents_under_5', 'residents_6_to_12', 'residents_13_to_18', 'residents_19_to_24', 
           'residents_25_to_34', 'residents_35_to_49', 'residents_50_to_64', 'residents_older_65', 'education_level', 'total_annual_income',
          'ceiling_fans_count']

In [11]:
columns = ['dataid', 'year_house_constructed', 'house_num_rooms', 'house_square_feet', 'house_ceiling_height', 
           'sex_males', 'sex_females', 'residents_under_5', 'residents_6_to_12', 'residents_13_to_18', 'residents_19_to_24', 
           'residents_25_to_34', 'residents_35_to_49', 'residents_50_to_64', 'residents_older_65', 'education_level', 'total_annual_income',
          'ceiling_fans_count']

In [12]:
raw_df_13 = df_13.iloc[:, df_13.columns.isin(columns)]
raw_df_14 = df_14.iloc[:, df_14.columns.isin(columns)]

In [13]:
set_13 = set(raw_df_13[['dataid']].values.reshape(1, -1)[0])
set_14 = set(raw_df_14[['dataid']].values.reshape(1, -1)[0])

In [14]:
import numpy as np
data = np.load("./data-2013-2017-missing.npy").item()

In [15]:
data[2013].keys()

dict_keys([9982, 2818, 1283, 7429, 8967, 1800, 5129, 9701, 6412, 2829, 6673, 5395, 4373, 6423, 26, 6941, 4357, 4641, 4135, 9771, 2094, 1185, 2864, 3635, 7989, 1334, 624, 4154, 9019, 5949, 1601, 5814, 2814, 6990, 1103, 7504, 2129, 6072, 5972, 86, 7769, 9052, 93, 94, 3935, 4193, 5218, 187, 9830, 871, 7016, 1642, 2156, 2158, 7536, 370, 3192, 2171, 2638, 8317, 3967, 3456, 2945, 898, 3719, 9609, 3723, 9356, 9922, 1169, 2755, 8084, 8597, 2199, 3224, 5785, 410, 5275, 3482, 2974, 1953, 2470, 1192, 7850, 3527, 5746, 4526, 3504, 4447, 1718, 7863, 1464, 2233, 7866, 9915, 9919, 7361, 2242, 7875, 9926, 9121, 9160, 9929, 9933, 4302, 2769, 9939, 3918, 8155, 8669, 3039, 8419, 739, 744, 3367, 6636, 5357, 8829, 7731, 5874, 545, 1782, 5615, 9654, 5371, 6910, 6101])

In [17]:
raw_df_14

,dataid,residents_under_5,residents_6_to_12,residents_13_to_18,residents_19_to_24,residents_25_to_34,residents_35_to_49,residents_50_to_64,education_level,total_annual_income,ceiling_fans_count
0,7321,NaN,NaN,NaN,NaN,NaN,NaN,2.0,College graduate,"""""""$300,000 - $1,000,000""""""",NaN
1,796,0.0,0.0,1.0,1.0,0,1.0,1.0,Postgraduate degree,"""""""$300,000 - $1,000,000""""""",4.0
2,1086,0.0,0.0,0.0,0.0,0,0.0,1.0,Postgraduate degree,"""""""$50,000 - $74,999""""""",5.0
3,9605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,College graduate,NaN,0.0
4,1600,0.0,0.0,0.0,0.0,0,2.0,0.0,Postgraduate degree,"""""""$100,000 - $149,999""""""",4.0
5,8185,0.0,0.0,1.0,0.0,0,0.0,1.0,Postgraduate degree,"""""""$50,000 - $74,999""""""",3.0
6,4228,NaN,NaN,2.0,NaN,NaN,NaN,1.0,College graduate,"""""""$50,000 - $74,999""""""",2.0
7,9916,1.0,NaN,NaN,NaN,1,1.0,NaN,College graduate,"""""""$75,000 - $99,999""""""",1.0
8,7900,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Postgraduate degree,"""""""$100,000 - $149,999""""""",NaN
9,3578,NaN,NaN,NaN,NaN,NaN,1.0,NaN,College graduate,NaN,2.0
10,9090,0.0,0.0,0.0,1.0,2,NaN,2.0,Postgraduate degree,"""""""$150,000 - $299,000""""""",3.0
11,9775,0.0,0.0,0.0,0.0,0,0.0,1.0,College graduate,"""""""$100,000 - $149,999""""""",2.0
12,4314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,College graduate,"""""""$75,000 - $99,999""""""",5.0
13,1958,0.0,0.0,0.0,0.0,0,0.0,2.0,Postgraduate degree,"""""""$300,000 - $1,000,000""""""",7.0
14,3500,NaN,NaN,1.0,NaN,NaN,NaN,2.0,College graduate,"""""""$150,000 - $299,000""""""",4.0
15,2149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Postgraduate degree,"""""""$300,000 - $1,000,000""""""",NaN
16,121,2.0,NaN,NaN,NaN,2,NaN,NaN,College graduate,NaN,NaN
17,5400,NaN,NaN,1.0,NaN,NaN,1.0,NaN,Postgraduate degree,"""""""$300,000 - $1,000,000""""""",0.0
18,2461,NaN,NaN,NaN,NaN,NaN,NaN,2.0,College graduate,"""""""$50,000 - $74,999""""""",NaN
19,516,0.0,0.0,0.0,0.0,0,0.0,2.0,Postgraduate degree,"""""""$150,000 - $299,000""""""",0.0
20,3510,0.0,0.0,0.0,0.0,2,0.0,0.0,Postgraduate degree,"""""""$50,000 - $74,999""""""",1.0
21,9933,1.0,2.0,NaN,NaN,NaN,2.0,NaN,College graduate,"""""""$150,000 - $299,000""""""",5.0
22,3967,0.0,0.0,0.0,0.0,0,0.0,0.0,College graduate,"""""""$150,000 - $299,000""""""",6.0
23,3967,0.0,0.0,0.0,0.0,0,0.0,0.0,College graduate,"""""""$150,000 - $299,000""""""",8.0
24,1642,0.0,0.0,0.0,0.0,1,2.0,0.0,College graduate,NaN,5.0
25,985,0.0,0.0,0.0,1.0,1,0.0,0.0,College graduate,"""""""$35,000 - $49,999""""""",3.0
26,5403,0.0,NaN,0.0,0.0,0,0.0,0.0,Postgraduate degree,"""""""$100,000 - $149,999""""""",5.0
27,6057,NaN,NaN,1.0,1.0,NaN,NaN,2.0,Postgraduate degree,"""""""$100,000 - $149,999""""""",6.0
28,1309,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Postgraduate degree,"""""""$150,000 - $299,000""""""",NaN
29,4944,2.0,1.0,NaN,NaN,NaN,1.0,1.0,Postgraduate degree,"""""""$100,000 - $149,999""""""",NaN
...,...,...,...,...,...,...,...,...,...,...,...
303,8622,0.0,0.0,0.0,0.0,2,0.0,0.0,College graduate,"""""""$75,000 - $99,999""""""",0.0
304,2814,NaN,NaN,NaN,NaN,NaN,NaN,2.0,College graduate,"""""""$100,000 - $149,999""""""",4.0
305,1039,0.0,1.0,0.0,0.0,0,0.0,2.0,College graduate,"""""""$75,000 - $99,999""""""",4.0
306,3849,0.0,0.0,0.0,0.0,0,0.0,0.0,Postgraduate degree,"""""""$150,000 - $299,000""""""",3.0
307,2848,NaN,NaN,NaN,NaN,2,NaN,NaN,College graduate,"""""""$50,000 - $74,999""""""",NaN
308,2900,0.0,0.0,0.0,0.0,0,0.0,2.0,Postgraduate degree,"""""""$300,000 - $1,000,000""""""",3.0
309,5109,0.0,NaN,NaN,NaN,NaN,0.0,0.0,Postgraduate degree,"""""""$300,000 - $1,000,000""""""",4.0
310,7113,0.0,0.0,0.0,1.0,0,0.0,2.0,College graduate,"""""""$150,000 - $299,000""""""",3.0
311,9932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Postgraduate degree,"""""""$75,000 - $99,999""""""",7.0
312,2858,0.0,0.0,0.0,0.0,0,0.0,3.0,Some college/trade/vocational school,"""""""$35,000 - $49,999""""""",5.0
313,6420,0.0,0.0,0.0,0.0,0,2.0,0.0,College graduate,NaN,5.0
314,3104,NaN,NaN,NaN,NaN,1,1.0,NaN,Postgraduate degree,"""""""$150,000 - $299,000""""""",1.0
315,4297,0.0,0.0,0.0,0.0,0,1.0,1.0,Postgraduate degree,"""""""$100,000 - $149,999""""""",5.0
316,4590,3.0,NaN,NaN,NaN,2,NaN,NaN,College graduate,"""""""$50,000 - $74,999""""""",5.0
317,2903,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Postgraduate degree,"""""""Less than $10,000""""""",2.0
318,941,1.0,1.0,0.0,0.0,2,0.0,0.0,College graduate,"""""""$100,000 - $149,999""""""",5.0
319,3555,1.0,0.0,0.0,0.0,2,0.0,0.0,College graduate,"""""""$50,000 - $74,999""""""",1.0
320,8731,0.0,0.0,0.0,0.0,0,0.0,1.0,Postgraduate degree,"""""""$75,000 - $99,999""""""",6.0
321,1035,NaN,NaN,NaN,NaN,2,NaN,NaN,College graduate,"""""""$100,000 - $149,999""""""",5.0
322,484,NaN,NaN,NaN,NaN,5 or more,NaN,NaN,Postgraduate degree,"""""""$50,000 - $74,999""""""",6.0
323,3741,0.0,0.0,2.0,NaN,NaN,1.0,NaN,Postgraduate degree,"""""""$100,000 - $149,999""""""",7.0
324,1499,1.0,1.0,0.0,2.0,0,0.0,3.0,Postgraduate degree,"""""""$150,000 - $299,000""""""",5.0
325,4304,NaN,NaN,NaN,NaN,NaN,NaN,1.0,College graduate,"""""""$100,000 - $149,999""""""",2.0
326,9699,0.0,0.0,0.0,0.0,0,0.0,0.0,Postgraduate degree,"""""""$35,000 - $49,999""""""",2.0
327,2322,NaN,NaN,NaN,NaN,NaN,NaN,2.0,College graduate,"""""""$150,000 - $299,000""""""",2.0
328,9729,1.0,1.0,0.0,0.0,0,2.0,0.0,Postgraduate degree,"""""""$100,000 - $149,999""""""",4.0
329,4342,0.0,1.0,0.0,0.0,0,2.0,0.0,College graduate,"""""""$75,000 - $99,999""""""",4.0
330,980,NaN,NaN,NaN,NaN,NaN,1.0,1.0,Some college/trade/vocational school,"""""""$50,000 - $74,999""""""",2.0
331,2532,NaN,NaN,NaN,NaN,NaN,2.0,NaN,Postgraduate degree,NaN,2.0
332,8292,0.0,0.0,0.0,0.0,1,2.0,0.0,College graduate,"""""""$150,000 - $299,000""""""",2.0

In [16]:
pd.concat([raw_df_13, raw_df_14])

,ceiling_fans_count,dataid,education_level,house_ceiling_height,house_num_rooms,house_square_feet,residents_13_to_18,residents_19_to_24,residents_25_to_34,residents_35_to_49,residents_50_to_64,residents_6_to_12,residents_older_65,residents_under_5,sex_females,sex_males,total_annual_income,year_house_constructed
0,6.0,43,College graduate,8,8.0,1500.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1,1,$10-000 - $19-999,1973
1,5.0,1629,Postgraduate degree,10,10.0,2335.0,1.0,1.0,NaN,2.0,NaN,NaN,NaN,NaN,3,1,$100-000 - $149-999,1992
2,6.0,2053,Postgraduate degree,11 ft.,5.0,1050.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1,None,$20-000 - $34-999,1930 or earlier
3,4.0,4517,College graduate,8,8.0,1600.0,0.0,0.0,0,0.0,1.0,0.0,0.0,0.0,None,1,$20-000 - $34-999,1975
4,4.0,1600,Postgraduate degree,8.5,8.0,1575.0,0.0,0.0,1,1.0,0.0,0.0,0.0,0.0,1,1,$100-000 - $149-999,1939
5,6.0,2836,College graduate,9,5.0,3400.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1,1,$150-000 - $299-000,1999
6,6.0,2242,Postgraduate degree,10,4.0,3500.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1,1,NaN,1999
7,6.0,3394,Some college/trade/vocational school,9,8.0,2800.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1,1,$150-000 - $299-000,1978
8,4.0,5371,Postgraduate degree,9,6.0,980.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1,1,$100-000 - $149-999,1941
9,6.0,2557,Postgraduate degree,8 ft,16.0,3300.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1,1,$100-000 - $149-999,1965
10,5.0,2257,Some college/trade/vocational school,96,8.0,4100.0,NaN,NaN,NaN,2.0,NaN,1.0,NaN,NaN,1,2,$100-000 - $149-999,2002
11,3.0,5490,Postgraduate degree,8,9.0,1850.0,NaN,NaN,2,NaN,NaN,NaN,NaN,1.0,2,1,$100-000 - $149-999,1964
12,4.0,626,College graduate,10,6.0,NaN,NaN,NaN,1,NaN,NaN,1.0,NaN,NaN,2,NaN,$20-000 - $34-999,2006
13,5.0,7866,Postgraduate degree,8,4.0,1100.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,1,2,$75-000 - $99-999,1987
14,6.0,5288,College graduate,16,7.0,3200.0,NaN,1.0,NaN,NaN,2.0,NaN,NaN,NaN,1,2,$150-000 - $299-000,2000
15,1.0,5511,Postgraduate degree,7,6.0,1140.0,0.0,0.0,0,0.0,1.0,0.0,0.0,0.0,None,1,$100-000 - $149-999,1981
16,6.0,1572,Some college/trade/vocational school,10,8.0,2100.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1,1,$100-000 - $149-999,2007
17,6.0,2297,Some college/trade/vocational school,8,4.0,1500.0,1.0,NaN,2,NaN,NaN,2.0,NaN,NaN,4,1,$75-000 - $99-999,2011
18,NaN,9605,College graduate,8 ft,11.0,2200.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1,1,$75-000 - $99-999,1967
19,4.0,8223,High School graduate,8,9.0,2300.0,2.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,None,2,$100-000 - $149-999,1955
20,4.0,9931,Some college/trade/vocational school,NaN,2.0,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,1.0,1,2,$20-000 - $34-999,NaN
21,4.0,2929,College graduate,10?,3.0,1552.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1,1,$100-000 - $149-999,1950
22,6.0,5746,College graduate,8,9.0,1768.0,NaN,NaN,1,1.0,NaN,NaN,NaN,2.0,2,2,$100-000 - $149-999,1950
23,5.0,6787,Postgraduate degree,varies from 8ft to 15ft,5.0,1600.0,NaN,NaN,0,2.0,NaN,NaN,NaN,NaN,1,1,$150-000 - $299-000,1985
24,4.0,4342,College graduate,8,8.0,1316.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,2,1,$75-000 - $99-999,1953
25,6.0,4594,Some High School,"96""",7.0,2506.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1,1,NaN,1975
26,2.0,1741,Postgraduate degree,?,6.0,1993.0,NaN,NaN,2,NaN,NaN,NaN,1.0,NaN,1,2,NaN,1999
27,5.0,7332,Postgraduate degree,11.5,9.0,2850.0,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,1,None,NaN,2002
28,4.0,5673,College graduate,8 ft,6.0,1900.0,NaN,NaN,1,1.0,NaN,3.0,NaN,NaN,2,3,$100-000 - $149-999,1980
29,5.0,4231,Postgraduate degree,8,14.0,4200.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1,1,$150-000 - $299-000,1975
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,0.0,8622,College graduate,NaN,NaN,NaN,0.0,0.0,2,0.0,0.0,0.0,NaN,0.0,NaN,NaN,"""""""$75,000 - $99,999""""""",NaN
304,4.0,2814,College graduate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,"""""""$100,000 - $149,999""""""",NaN
305,4.0,1039,College graduate,NaN,NaN,NaN,0.0,0.0,0,0.0,2.0,1.0,NaN,0.0,NaN,NaN,"""""""$75,000 - $99,999""""""",NaN
306,3.0,3849,Postgraduate degree,NaN,NaN,NaN,0.0,0.0,0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,"""""""$150,000 - $299,000""""""",NaN
307,NaN,2848,College graduate,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"""""""$50,000 - $74,999""""""",NaN
308,3.0,2900,Postgraduate degree,NaN,NaN,NaN,0.0,0.0,0,0.0,2.0,0.0,NaN,0.0,NaN,NaN,"""""""$300,000 - $1,000,000""""""",NaN
309,4.0,5109,Postgraduate degree,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN,"""""""$300,000 - $1,000,000""""""",NaN
310,3.0,7113,College graduate,NaN,NaN,NaN,0.0,1.0,0,0.0,2.0,0.0,NaN,0.0,NaN,NaN,"""""""$150,000 - $299,000""""""",NaN
311,7.0,9932,Postgraduate degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"""""""$75,000 - $99,999""""""",NaN
312,5.0,2858,Some college/trade/vocational school,NaN,NaN,NaN,0.0,0.0,0,0.0,3.0,0.0,NaN,0.0,NaN,NaN,"""""""$35,000 - $49,999""""""",NaN
313,5.0,6420,College graduate,NaN,NaN,NaN,0.0,0.0,0,2.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN
314,1.0,3104,Postgraduate degree,NaN,NaN,NaN,NaN,NaN,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,"""""""$150,000 - $299,000""""""",NaN
315,5.0,4297,Postgraduate degree,NaN,NaN,NaN,0.0,0.0,0,1.0,1.0,0.0,NaN,0.0,NaN,NaN,"""""""$100,000 - $149,999""""""",NaN
316,5.0,4590,College graduate,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,3.0,NaN,NaN,"""""""$50,000 - $74,999""""""",NaN
317,2.0,2903,Postgraduate degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,"""""""Less than $10,000""""""",NaN
318,5.0,941,College graduate,NaN,NaN,NaN,0.0,0.0,2,0.0,0.0,1.0,NaN,1.0,NaN,NaN,"""""""$100,000 - $149,999""""""",NaN
319,1.0,3555,College graduate,NaN,NaN,NaN,0.0,0.0,2,0.0,0.0,0.0,NaN,1.0,NaN,NaN,"""""""$50,000 - $74,999""""""",NaN
320,6.0,8731,Postgraduate degree,NaN,NaN,NaN,0.0,0.0,0,0.0,1.0,0.0,NaN,0.0,NaN,NaN,"""""""$75,000 - $99,999""""""",NaN
321,5.0,1035,College graduate,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"""""""$100,000 - $149,999""""""",NaN
322,6.0,484,Postgraduate degree,NaN,NaN,NaN,NaN,NaN,5 or more,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"""""""$50,000 - $74,999""""""",NaN
323,7.0,3741,Postgraduate degree,NaN,NaN,NaN,2.0,NaN,NaN,1.0,NaN,0.0,NaN,0.0,NaN,NaN,"""""""$100,000 - $149,999""""""",NaN
324,5.0,1499,Postgraduate degree,NaN,NaN,NaN,0.0,2.0,0,0.0,3.0,1.0,NaN,1.0,NaN,NaN,"""""""$150,000 - $299,000""""""",NaN
325,2.0,4304,College graduate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,"""""""$100,000 - $149,999""""""",NaN
326,2.0,9699,Postgraduate degree,NaN,NaN,NaN,0.0,0.0,0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,"""""""$35,000 - $49,999""""""",NaN
327,2.0,2322,College graduate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,"""""""$150,000 - $299,000""""""",NaN
328,4.0,9729,Postgraduate degree,NaN,NaN,NaN,0.0,0.0,0,2.0,0.0,1.0,NaN,1.0,NaN,NaN,"""""""$100,000 - $149,999""""""",NaN
329,4.0,4342,College graduate,NaN,NaN,NaN,0.0,0.0,0,2.0,0.0,1.0,NaN,0.0,NaN,NaN,"""""""$75,000 - $99,999""""""",NaN
330,2.0,980,Some college/trade/vocational school,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,"""""""$50,000 - $74,999""""""",NaN
331,2.0,2532,Postgraduate degree,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
332,2.0,8292,College graduate,NaN,NaN,NaN,0.0,0.0,1,2.0,0.0,0.0,NaN,0.0,NaN,NaN,"""""""$150,000 - $299,000""""""",NaN